<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(name="robots" content="noindex")
        meta(charset="UTF-8")
        meta(http-equiv="cleartype" content="on")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="HandheldFriendly" content="True")
        meta(name="MobileOptimized" content="360")
        meta(name="orientation" content="Portrait")
        //- meta(name="theme-color" content="#0D71C6")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
        
        title=pageTitle

        link(rel="stylesheet", href="../scss/main.scss")
        if bootstrap==true 
            link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        if fontAwesome==true
            link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')


        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i|Lato:400,400i,900,900i")
