body
    .topo
        .topo-conteudo
            if principal==false      
                .topo-retorno
                    a(href="../views/diario-geral.pug")
                        //- include ../images/return-icon.svg
                        span.ti-arrow-left
                        p.retorno-text VOLTAR
            h1.topo-titulo=tituloTopo
