- var valorGrafico2 = ", 100";
- var valorGraficoTotal = valorGrafico + valorGrafico2 ;
- var valorGraficoText = valorGrafico + " %";

svg.circular-chart.blue(viewbox="0 0 36 36")
      path.circle-bg(d="M18 2.0845\
      a 15.9155 15.9155 0 0 1 0 31.831\
      a 15.9155 15.9155 0 0 1 0 -31.831")
      path.circle(stroke-dasharray=valorGraficoTotal d="M18 2.0845\
      a 15.9155 15.9155 0 0 1 0 31.831\
      a 15.9155 15.9155 0 0 1 0 -31.831")
      text.percentage(x="18" y="20.35")=valorGraficoText