svg.grafico-barra-horizontal(width='100%', height='65px')
    g.markers
        rect(fill='#E0E0E0', x='0%', y='0', width='1px', height='50')
        rect(fill='#E0E0E0', x='25%', y='0', width='1px', height='50')
        rect(fill='#E0E0E0', x='50%', y='0', width='1px', height='50')
        rect(fill='#E0E0E0', x='75%', y='0', width='1px', height='50')
        rect(text-anchor='', fill='#E0E0E0', x='100%', y='0', width='1px', height='50')
    g.bars
        //- rect(fill='#ccc', width='100%', height='25')
        rect.bh1(fill='#ABE6E4', width=valorBarra1+"%", height='25' data-toggle="tooltip" data-html="true" data-placement="right" title="<p class='tooltip-anos'>3 anos </p>"+ "<p class='tooltip-valor'>" + valorBarra1+"%" + "</p>")
