svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 45 25')
  defs
    style.
      .cls-1 {
      fill: #c1c5c9;
      font-size: 18px;
      font-family: themify;
      }
  g#Group_72(data-name='Group 72', transform='translate(-567 -477.095)')
    text#_.cls-1(data-name='', transform='translate(567 477.095)')
      tspan(x='13.109', y='17') 
