svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 45 25')
  defs
    style.
      .cls-1 {
      fill: #c1c5c9;
      font-size: 18px;
      font-family: themify;
      }
      .cls-2 {
      fill: #e8092b;
      }
      .cls-3 {
      fill: #fff;
      font-size: 7px;
      font-family: Lato-Bold, Lato;
      font-weight: 700;
      }
  g#Group_134(data-name='Group 134', transform='translate(-567 -457.095)')
    g#Group_72(data-name='Group 72', transform='translate(0 -20)')
      text#_.cls-1(data-name='', transform='translate(567 477.095)')
        tspan(x='13.109', y='17') 
    g#Group_73(data-name='Group 73', transform='translate(-402.037 400.963)')
      ellipse#Ellipse_81.cls-2(data-name='Ellipse 81', cx='6.502', cy='6.502', rx='6.502', ry='6.502', transform='translate(997.425 62.148)')
      text#_2.cls-3(data-name='2', transform='translate(1003.983 70.739)')
        tspan(x='-2.03', y='0')=contComentario