//- TITULO DO ARQUIVO
- var pageTitle = "Relatório de Aluno";
- var bootstrap = true;
- var fontAwesome = true;
include ../includes/head.pug
//- TITULO DO TOPO DA PÁGINA
- var tituloTopo = "Diário de aprendizagem";
- var principal = false;
include ../includes/top-page.pug

.diario-geral
    //- BLOCO TURMA
    .area-turma
        h3.titulo-turma Fazer registro
        p.texto-turma Acompanhe o desempenho das suas turmas e de cada aluno Acompanhe o desempenho das suas turmas e de cada aluno Acompanhe o desempenho das suas turmas e de cada aluno
        
        .bloco-perfil-aluno
            .img-perfil
                include ../images/user-icon.svg
                
            .info-perfil
                .info-perfil-nome Amanda Soares
                .info-perfil-sala Turma: 1º D

        .bloco-turmas
            //- .aluno-item
            //-     .aluno-item-text Geral
            
            //- .aluno-item
            //-     .aluno-item-text Tema 1

            //- .aluno-item
            //-     .aluno-item-text Tema 2

            //- .aluno-item
            //-     .aluno-item-text Tema 3

            //- .aluno-item
            //-     .aluno-item-text Tema 4

            //- .aluno-item
            //-     .aluno-item-text Tema 5

        .selecao-aluno  
            select#aluno-tema
                //- option(value='hide') TEMAS
                option(value='Tema 1') Tema 1: Convivemos com…
                option(value='Tema 2') Tema 2: Lorem ipsum do…
                option(value='Tema 3') Tema 3: Lorem ipsum do…
                option(value='Tema 4') Tema 4: Lorem ipsum do…
                option(value='Tema 5') Tema 5: Lorem ipsum do…
                option(value='Tema 6') Tema 6: Lorem ipsum do…

    //- BLOCO SALA
    .area-sala
        .sala-item
            .item-topo-aluno 
                .topo-aluno-titulo Tema 1
                .topo-aluno-subtitulo Convivemos com muitas pessoas
                .topo-aluno-text Equivalente a 1 mês de trabalho

            .item-conteudo
                .item-conteudo-item 
                    .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5


                .item-conteudo-item 

                    .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5                    

                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 
                
                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 
                
                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 

        .sala-item
            .item-topo-aluno 
                .topo-aluno-titulo Tema 2
                .topo-aluno-subtitulo Convivemos com muitas pessoas
                .topo-aluno-text Equivalente a 1 mês de trabalho

            .item-conteudo
                .item-conteudo-item 
                    .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5


                .item-conteudo-item 

                    .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5                    

                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 
                
                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 
                
                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5

        .sala-item
            .item-topo-aluno 
                .topo-aluno-titulo Tema 3
                .topo-aluno-subtitulo Convivemos com muitas pessoas
                .topo-aluno-text Equivalente a 1 mês de trabalho

            .item-conteudo
                .item-conteudo-item 
                    .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5


                .item-conteudo-item 

                    .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5                    

                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 
                
                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5 
                
                .item-conteudo-item 

                     .conteudo-aluno-item
                        .requisito
                            .requisito-id EI02EO02
                            .requisito-coment   
                                a(href="#boxComentario", data-toggle="modal" )
                                        .icone-comentario.comentado
                                            - var contComentario = 3;
                                            include /icones/icone-comentario-ativo.pug
                        .descricao-req
                            p.desc-req Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios

                        .nota-req
                            input.req-range(type="range", name="", step="25", min="0", max="100")
                            .desc-nota-req  
                                .desc-nota-item.nota1
                                .desc-nota-item.nota2
                                .desc-nota-item.nota3
                                .desc-nota-item.nota4
                                .desc-nota-item.nota5
                    
        //- Modal de comentario
#boxComentario.modalComentario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span.pe-7s-close-circle(aria-hidden='true') 
            .modal-topo-icone
                span.ti-comments
            .modal-topo-titulo
                h5.modal-title COMENTÁRIOS
       
        .modal-body
            .lista-modal-coment
                .modal-coment-item
                    textarea.area-coment-edit(name="", cols="30", rows="10", maxlength="500")
                    .cont-coment
                        span#contText 500 
                    .area-anexo
                        h5.anexo-titulo Anexos
                        .lista-anexos
                            .anexo-item.edt.anexo-item-foto
                                .anexo-item-icon
                                    i.far.fa-file-image
                                .anexo-item-text foto123.jpg
                                .anexo-item-remove
                                    span.pe-7s-close

                            .anexo-item.edt.anexo-item-doc
                                .anexo-item-icon
                                    i.far.fa-file-alt
                                .anexo-item-text documento.doc
                                .anexo-item-remove
                                    span.pe-7s-close
                    .area-opcoes
                        .lista-opcoes
                            .lista-item.lista-anexo
                                span.pe-7s-paperclip
                                span.lista-item-text Incluir anexo
                            .lista-item.lista-salvar
                                span.pe-7s-diskette
                                span.lista-item-text Salvar
                            .lista-item.lista-excluir
                                span.pe-7s-close-circle
                                span.lista-item-text Excluir
                    .modal-excluir
                        .modal-excluir-conteudo
                            .conteudo-excluir-topo
                                span.pe-7s-close-circle
                                h6.excluir-topo-titulo EXCLUIR COMENTÁRIO
                            .conteudo-excluir-centro
                                p.excluir-centro-text Tem certeza que deseja exluir esse comentário?
                            .conteudo-excluir-opcoes
                                .btn-voltar.modal-btn.btn-azul 
                                    .btn-azul-text VOLTAR
                                .btn-excluir.modal-btn.btn-borda-cinza
                                    .btn-borda-cinza-text EXCLUIR

                .lista-modal-coment
                .modal-coment-item
                    .area-coment
                        p.coment-text “Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios imagem positiva de si e confiança em sua capacidade para em confiança em sua  para enfrentar dificuldades e desafios Acompanhe o desempenho das suas turmas e de cada aluno "
                        p.data-coment 25 de outubro de 2018. 11:30h
                    .area-anexo
                        h5.anexo-titulo Anexos
                        .lista-anexos
                            .anexo-item.anexo-item-foto
                                .anexo-item-icon
                                    i.far.fa-file-image
                                .anexo-item-text foto123.jpg
                                .anexo-item-remove
                                    span.pe-7s-close

                            .anexo-item.anexo-item-doc
                                .anexo-item-icon
                                    i.far.fa-file-alt
                                .anexo-item-text documento.doc
                                .anexo-item-remove
                                    span.pe-7s-close
                    .area-opcoes
                        .lista-opcoes
                            .lista-item.lista-anexo
                                span.pe-7s-paperclip
                                span.lista-item-text Incluir anexo
                            .lista-item.lista-salvar
                                span.pe-7s-diskette
                                span.lista-item-text Salvar
                            .lista-item.lista-excluir
                                span.pe-7s-close-circle
                                span.lista-item-text Excluir
                    .modal-excluir
                        .modal-excluir-conteudo
                            .conteudo-excluir-topo
                                span.pe-7s-close-circle
                                h6.excluir-topo-titulo EXCLUIR COMENTÁRIO
                            .conteudo-excluir-centro
                                p.excluir-centro-text Tem certeza que deseja exluir esse comentário?
                            .conteudo-excluir-opcoes
                                .btn-voltar.modal-btn.btn-azul 
                                    .btn-azul-text VOLTAR
                                .btn-excluir.modal-btn.btn-borda-cinza
                                    .btn-borda-cinza-text EXCLUIR

        .modal-footer
            //- button.btn-modal.btn-anexo(type='file') 
            //- input(type="file", name="btnAnexo")
                //- .btn-conteudo 
                //-     .conteudo-icon
                //-         span.pe-7s-paperclip
                //-     .conteudo-text INSERIR ANEXO
            .fileUpload.blue-btn
                span.pe-7s-paperclip
                span.textInput INSERIR ANEXO
                input.uploadlogo(type='file')

            button.btn-modal.btn-comentario(type='button') 
                .btn-conteudo 
                    .conteudo-icon
                        span.ti-comment
                    .conteudo-text INSERIR COMENTÁRIO

include ../includes/footer.pug
script(src="../js/select-aluno.js")
script(src="../js/aluno.js")
script(src="../js/modal.js")