//- TITULO DO ARQUIVO
- var pageTitle = "Diário de aprendizagem";
include ../includes/head.pug
//- TITULO DO TOPO DA PÁGINA
- var tituloTopo = "Diário de aprendizagem";
- var principal = true;
include ../includes/top-page.pug
.diario-geral
    //- BLOCO TURMA
    .area-turma
        h3.titulo-turma Turmas
        p.texto-turma Acompanhe o desempenho das suas turmas e de cada aluno Acompanhe o desempenho das suas turmas e de cada aluno Acompanhe o desempenho das suas turmas e de cada aluno
        .bloco-turmas
            .turmas-item
                .turmas-item-text 1º D
            
            .turmas-item
                .turmas-item-text 2º F

            .turmas-item
                .turmas-item-text 3º B

            .turmas-item
                .turmas-item-text $º A

            .bloco-ativo
    //- BLOCO SALA
    .area-sala
        .sala-item
            .item-topo
                h3.topo-titulo 1º D
                .btn-relatorio
                    a(href="./relatorios.pug")
                        span.pe-7s-display2.icon-btn
                        p.bnt-text RELATÓRIO

            .item-conteudo
                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Amanda Soares
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Bruno Ferreira
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Carlos Henrique Silva
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Daniele Figueiredo
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

        .sala-item
            .item-topo
                h3.topo-titulo 2º F
                .btn-relatorio
                    a(href="./relatorios.pug")
                        span.pe-7s-display2.icon-btn
                        p.bnt-text RELATÓRIO

            .item-conteudo
                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Bruno Ferreira
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Amanda Soares
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Carlos Henrique Silva
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Daniele Figueiredo
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO
        
        .sala-item
            .item-topo
                h3.topo-titulo 3º B
                .btn-relatorio
                    a(href="./relatorios.pug")
                        span.pe-7s-display2.icon-btn
                        p.bnt-text RELATÓRIO

            .item-conteudo
                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Carlos Henrique Silva
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Amanda Soares
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Bruno Ferreira
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Daniele Figueiredo
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

        .sala-item
            .item-topo
                h3.topo-titulo $º A
                .btn-relatorio
                    a(href="./relatorios.pug")
                        span.pe-7s-display2.icon-btn
                        p.bnt-text RELATÓRIO

            .item-conteudo
                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Carlos Henrique Silva
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Amanda Soares
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Bruno Ferreira
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Daniele Figueiredo
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

                .item-aluno
                    .item-aluno-icon
                        include ../images/user-icon.svg
                    .item-aluno-text
                        h5.item-aluno-nome Beatriz Souza Bastos
                        a(href="./aluno.pug").item-aluno-registro 
                            p.item-aluno-registro-text FAZER REGISTRO

include ../includes/footer.pug
script(src="../js/diario-geral.js")
