doctype html  
html(lang="pt")  
    head
        meta(name="robots" content="noindex")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./../scss/main.scss")
        title Painel geral
    body
        div.container
            div.row
                .col-md-12.text-center.painel-geral.mb-4.mt-4
                    h1.titulo-geral Painel Geral
                div.col-md-12.lista-btns
                    .btn-border-md
                        a(href="./diario-geral.pug")
                            .btn-border-md-content
                                p.btn-border-text Diário Geral
                    .btn-border-md
                        a(href="./relatorios.pug")
                            .btn-border-md-content
                                p.btn-border-text Relatórios
                    .btn-border-md
                        a(href="./aluno.pug")
                            .btn-border-md-content
                                p.btn-border-text Aluno

        script(src="../index.js")