//- TITULO DO ARQUIVO
- var pageTitle = "Relatórios";
- var bootstrap = true;
- var fontAwesome = true;
include ../includes/head.pug
//- TITULO DO TOPO DA PÁGINA
- var tituloTopo = "Diário de aprendizagem";
- var principal = false;
include ../includes/top-page.pug

.diario-geral
    //- BLOCO TURMA
    .area-turma
        h3.titulo-turma Relatório Turma 1º D
        p.texto-turma Acompanhe o desempenho das suas turmas e de cada aluno Acompanhe o desempenho das suas turmas e de cada aluno Acompanhe o desempenho das suas turmas e de cada aluno
        
        .selecao-aluno  
            select#alunos-relatorio
                option(value='hide') Todos os Alunos
                option(value='Amanda Soares') Amanda Soares
                option(value='Bruno Ferreira') Bruno Ferreira
                option(value='Beatriz Souza Bastos') Beatriz Souza Bastos
                option(value='Carlos Henrique Silva') Carlos Henrique Silva
                option(value='Daniele Figueiredo') Daniele Figueiredo
                option(value='Beatriz Souza Bastos') Beatriz Souza Bastos

        
        .bloco-turmas
            .turmas-item
                .turmas-item-text Geral
            
            .turmas-item
                .turmas-item-text Tema 1

            .turmas-item
                .turmas-item-text Tema 2

            .turmas-item
                .turmas-item-text Tema 3

            .turmas-item
                .turmas-item-text Tema 4

            .turmas-item
                .turmas-item-text Tema 5
            
            .bloco-ativo
    //- BLOCO SALA
    .area-sala
        .sala-item
            .item-conteudo
                .item-conteudo-item 
                    .item-grafico-circular
                        - var valorGrafico = "48";
                            include /graficos/grafico-circular.pug
                            .bloco-desc-grafico 
                                p.desc-text O eu, o outro e o nós
                    .item-grafico-barra
                        .barra-item
                            .barra-item-topo
                                .item-topo-conteudo 
                                    p.porcent-info.info-bh 0%
                                    p.porcent-info.info-bh 25%
                                    p.porcent-info.info-bh 50%
                                    p.porcent-info.info-bh 75%
                                    p.porcent-info.info-bh 100%
                            .barra-item-conteudo
                                .barra-item-desc
                                    p.info-bh 3 anos
                                .barra-item-grafico    
                                    - var valorBarra1 = 45;
                                        include /graficos/grafico-barra-horizontal-1.pug
                        .barra-item   
                            .barra-item-conteudo  
                                .barra-item-desc
                                    p.info-bh 4 anos
                                .barra-item-grafico                   
                                    - var valorBarra2 = 60;
                                        include /graficos/grafico-barra-horizontal-2.pug
                        .barra-item
                            .barra-item-conteudo
                                .barra-item-desc
                                    p.info-bh 5 anos
                                .barra-item-grafico
                                    - var valorBarra3 = 85;
                                        include /graficos/grafico-barra-horizontal-3.pug


                .item-conteudo-item 
                    .item-grafico-circular
                        - var valorGrafico = "76";
                            include /graficos/grafico-circular.pug
                            .bloco-desc-grafico 
                                p.desc-text Corpo, gesto e movimentos

                    .item-grafico-barra
                        .barra-item
                            .barra-item-topo
                                .item-topo-conteudo 
                                    p.porcent-info.info-bh 0%
                                    p.porcent-info.info-bh 25%
                                    p.porcent-info.info-bh 50%
                                    p.porcent-info.info-bh 75%
                                    p.porcent-info.info-bh 100%

                            .barra-item-conteudo
                                .barra-item-desc
                                    p.info-bh 3 anos
                                .barra-item-grafico    
                                    - var valorBarra1 = 50;
                                        include /graficos/grafico-barra-horizontal-1.pug
                        .barra-item   
                            .barra-item-conteudo  
                                .barra-item-desc
                                    p.info-bh 4 anos
                                .barra-item-grafico                   
                                    - var valorBarra2 = 80;
                                        include /graficos/grafico-barra-horizontal-2.pug
                        .barra-item
                            .barra-item-conteudo
                                .barra-item-desc
                                    p.info-bh 5 anos
                                .barra-item-grafico
                                    - var valorBarra3 = 65;
                                        include /graficos/grafico-barra-horizontal-3.pug

                .item-conteudo-item 
                    .item-grafico-circular
                        - var valorGrafico = "57";
                            include /graficos/grafico-circular.pug
                            .bloco-desc-grafico 
                                p.desc-text Traços, sons, cores e formas
                    
                    .item-grafico-barra
                        .barra-item
                            .barra-item-topo
                                .item-topo-conteudo 
                                    p.porcent-info.info-bh 0%
                                    p.porcent-info.info-bh 25%
                                    p.porcent-info.info-bh 50%
                                    p.porcent-info.info-bh 75%
                                    p.porcent-info.info-bh 100%

                            .barra-item-conteudo
                                .barra-item-desc
                                    p.info-bh 3 anos
                                .barra-item-grafico    
                                    - var valorBarra1 = 55;
                                        include /graficos/grafico-barra-horizontal-1.pug
                        .barra-item   
                            .barra-item-conteudo  
                                .barra-item-desc
                                    p.info-bh 4 anos
                                .barra-item-grafico                   
                                    - var valorBarra2 = 65;
                                        include /graficos/grafico-barra-horizontal-2.pug
                        .barra-item
                            .barra-item-conteudo
                                .barra-item-desc
                                    p.info-bh 5 anos
                                .barra-item-grafico
                                    - var valorBarra3 = 90;
                                        include /graficos/grafico-barra-horizontal-3.pug
        .sala-item
            .item-conteudo
                //- TITULO DO TEMA
                .item-conteudo-topo
                    .bloco-topo-titulo
                        h3.topo-titulo Tema 1
                    .bloco-topo-descricao   
                        p.desc-titulo Campo de experências
                        p.desc-text O eu, o outro e o nós
                //- ITEM 1 DO TEMA
                .item-conteudo-item 
                    .item-tema-topo
                        .tema-topo-conteudo
                            .bloco-tema-titulo 
                                h4.tema-titulo EI02EO02
                            .bloco-tema-comentario
                                a(href="#boxComentario", data-toggle="modal" )
                                    .icone-comentario.comentado
                                        .comentario-conteudo
                                            - var contComentario = 3;
                                            //- include /icones/icone-comentario-ativo.pug
                                            span.ti-comments
                                            div.comentario-cont=contComentario
                    .item-tema-conteudo
                        .bloco-tema-desc
                            .desc-item  
                                h6.desc-item-titulo Síntese das aprendizagens
                                p.desc-item-text Respeitar e expressar sentimentos e emoções

                            .desc-item  
                                h6.desc-item-titulo Objetivo de aprendizagem e desenvolvimento OAD
                                p.desc-item-text Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios
                        .bloco-tema-grafico
                            .grafico-item   
                                p.grafico-titulo Indícios de desenvolvimento da aprendizagem
                                - var valorGrafico = "78";
                                include /graficos/grafico-circular.pug


                //- ITEM 2 DO TEMA
                .item-conteudo-item 
                    .item-tema-topo
                        .tema-topo-conteudo
                            .bloco-tema-titulo 
                                h4.tema-titulo EI02EO03
                            .bloco-tema-comentario
                                a(href="#boxComentario", data-toggle="modal" )
                                    .icone-comentario
                                        .comentario-conteudo
                                            //- include /icones/icone-comentario.pug
                                            span.ti-comments
                    .item-tema-conteudo
                        .bloco-tema-desc
                            .desc-item  
                                h6.desc-item-titulo Síntese das aprendizagens
                                p.desc-item-text Respeitar e expressar sentimentos e emoções

                            .desc-item  
                                h6.desc-item-titulo Objetivo de aprendizagem e desenvolvimento OAD
                                p.desc-item-text Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios
                        .bloco-tema-grafico
                            .grafico-item   
                                p.grafico-titulo Indícios de desenvolvimento da aprendizagem
                                - var valorGrafico = "48";
                                include /graficos/grafico-circular.pug

        //- SALA 3
        .sala-item
             .item-conteudo
                //- TITULO DO TEMA
                .item-conteudo-topo
                    .bloco-topo-titulo
                        h3.topo-titulo Tema 2
                    .bloco-topo-descricao   
                        p.desc-titulo Campo de experências
                        p.desc-text Corpo, gesto e movimentos
                //- ITEM 1 DO TEMA
                .item-conteudo-item 
                    .item-tema-topo
                        .tema-topo-conteudo
                            .bloco-tema-titulo 
                                h4.tema-titulo EI02EO02
                            .bloco-tema-comentario
                                a(href="#boxComentario", data-toggle="modal" )
                                    .icone-comentario.comentado
                                        .comentario-conteudo
                                            - var contComentario = 3;
                                            //- include /icones/icone-comentario-ativo.pug
                                            span.ti-comments
                                            div.comentario-cont=contComentario
                    .item-tema-conteudo
                        .bloco-tema-desc
                            .desc-item  
                                h6.desc-item-titulo Síntese das aprendizagens
                                p.desc-item-text Respeitar e expressar sentimentos e emoções

                            .desc-item  
                                h6.desc-item-titulo Objetivo de aprendizagem e desenvolvimento OAD
                                p.desc-item-text Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios
                        .bloco-tema-grafico
                            .grafico-item   
                                p.grafico-titulo Indícios de desenvolvimento da aprendizagem
                                - var valorGrafico = "35";
                                include /graficos/grafico-circular.pug


                //- ITEM 2 DO TEMA
                .item-conteudo-item 
                    .item-tema-topo
                        .tema-topo-conteudo
                            .bloco-tema-titulo 
                                h4.tema-titulo EI02EO03
                            .bloco-tema-comentario
                                a(href="#boxComentario", data-toggle="modal" )
                                    .icone-comentario
                                        .comentario-conteudo
                                            //- include /icones/icone-comentario.pug
                                            span.ti-comments
                    .item-tema-conteudo
                        .bloco-tema-desc
                            .desc-item  
                                h6.desc-item-titulo Síntese das aprendizagens
                                p.desc-item-text Respeitar e expressar sentimentos e emoções

                            .desc-item  
                                h6.desc-item-titulo Objetivo de aprendizagem e desenvolvimento OAD
                                p.desc-item-text Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios
                        .bloco-tema-grafico
                            .grafico-item   
                                p.grafico-titulo Indícios de desenvolvimento da aprendizagem
                                - var valorGrafico = "48";
                                include /graficos/grafico-circular.pug

        .sala-item
            .item-conteudo

//- Modal de comentario
#boxComentario.modalComentario.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span.pe-7s-close-circle(aria-hidden='true') 
            .modal-topo-icone
                span.ti-comments
            .modal-topo-titulo
                h5.modal-title COMENTÁRIOS
       
        .modal-body
            .lista-modal-coment
                .modal-coment-item
                    textarea.area-coment-edit(name="", cols="30", rows="10", maxlength="500")
                    .cont-coment
                        span.contText 500 
                    .area-anexo
                        h5.anexo-titulo Anexos
                        .lista-anexos
                            .anexo-item.edt.anexo-item-foto
                                .anexo-item-icon
                                    i.far.fa-file-image
                                .anexo-item-text foto123.jpg
                                .anexo-item-remove
                                    span.pe-7s-close

                            .anexo-item.edt.anexo-item-doc
                                .anexo-item-icon
                                    i.far.fa-file-alt
                                .anexo-item-text documento.doc
                                .anexo-item-remove
                                    span.pe-7s-close
                    .area-opcoes
                        .lista-opcoes
                            .lista-item.lista-anexo
                                span.pe-7s-paperclip
                                span.lista-item-text Incluir anexo
                            .lista-item.lista-salvar
                                span.pe-7s-diskette
                                span.lista-item-text Salvar
                            .lista-item.lista-excluir
                                span.pe-7s-close-circle
                                span.lista-item-text Excluir
                    .modal-excluir
                        .modal-excluir-conteudo
                            .conteudo-excluir-topo
                                span.pe-7s-close-circle
                                h6.excluir-topo-titulo EXCLUIR COMENTÁRIO
                            .conteudo-excluir-centro
                                p.excluir-centro-text Tem certeza que deseja exluir esse comentário?
                            .conteudo-excluir-opcoes
                                .btn-voltar.modal-btn.btn-azul 
                                    .btn-azul-text VOLTAR
                                .btn-excluir.modal-btn.btn-borda-cinza
                                    .btn-borda-cinza-text EXCLUIR

                .lista-modal-coment
                .modal-coment-item
                    .area-coment
                        p.coment-text “Demonstrar imagem positiva de si e confiança em sua capacidade para enfrentar dificuldades e desafios imagem positiva de si e confiança em sua capacidade para em confiança em sua  para enfrentar dificuldades e desafios Acompanhe o desempenho das suas turmas e de cada aluno "
                        p.data-coment 25 de outubro de 2018. 11:30h
                    .area-anexo
                        h5.anexo-titulo Anexos
                        .lista-anexos
                            .anexo-item.anexo-item-foto
                                .anexo-item-icon
                                    i.far.fa-file-image
                                .anexo-item-text foto123.jpg
                                .anexo-item-remove
                                    span.pe-7s-close

                            .anexo-item.anexo-item-doc
                                .anexo-item-icon
                                    i.far.fa-file-alt
                                .anexo-item-text documento.doc
                                .anexo-item-remove
                                    span.pe-7s-close
                    .area-opcoes
                        .lista-opcoes
                            .lista-item.lista-anexo
                                span.pe-7s-paperclip
                                span.lista-item-text Incluir anexo
                            .lista-item.lista-salvar
                                span.pe-7s-diskette
                                span.lista-item-text Salvar
                            .lista-item.lista-excluir
                                span.pe-7s-close-circle
                                span.lista-item-text Excluir
                    .modal-excluir
                        .modal-excluir-conteudo
                            .conteudo-excluir-topo
                                span.pe-7s-close-circle
                                h6.excluir-topo-titulo EXCLUIR COMENTÁRIO
                            .conteudo-excluir-centro
                                p.excluir-centro-text Tem certeza que deseja exluir esse comentário?
                            .conteudo-excluir-opcoes
                                .btn-voltar.modal-btn.btn-azul 
                                    .btn-azul-text VOLTAR
                                .btn-excluir.modal-btn.btn-borda-cinza
                                    .btn-borda-cinza-text EXCLUIR

        .modal-footer
            //- button.btn-modal.btn-anexo(type='file') 
            //- input(type="file", name="btnAnexo")
                //- .btn-conteudo 
                //-     .conteudo-icon
                //-         span.pe-7s-paperclip
                //-     .conteudo-text INSERIR ANEXO
            .fileUpload.blue-btn
                span.pe-7s-paperclip
                span.textInput INSERIR ANEXO
                input.uploadlogo(type='file')

            button.btn-modal.btn-comentario(type='button') 
                .btn-conteudo 
                    .conteudo-icon
                        span.ti-comment
                    .conteudo-text INSERIR COMENTÁRIO

include ../includes/footer.pug
script(src="../js/diario-geral.js")
script(src="../js/tooltips.js")
script(src="../js/select-custom.js")
script(src="../js/modal.js")