.modalComentario {
    .modal-dialog {
        max-width: 700px;
        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            z-index: 1;
        }
        .modal-content {
            padding: 27px;
            .modal-header {
                display: unset;
                border: unset;
                .modal-topo-icone, .modal-topo-titulo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .modal-topo-icone {
                    font-size: 40px;
                    color: $cinza-claro3;
                    margin-bottom: 12px;
                }
                .modal-topo-titulo {
                    font-size: 25px;
                    font-family: $exo2;
                    color: $azul-claro;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .modal-body {
                .lista-modal-coment {
                    .modal-coment-item {
                        box-shadow: 0 0 8px $cinza-sombra;
                        position: relative;
                        .cont-coment {
                            display: flex;
                            justify-content: flex-end;
                            #contText {
                                font-family: $lato;
                                font-size: 9px;
                                color: $cinza-claro;
                            }
                        }
                        &:not(:last-of-type) {
                            margin-bottom: 35px;
                        }
                    }   
                    .modal-coment-item,.area-coment-edit {
                        padding: 16px;
                        border-radius: 6px;
                        .area-coment {
                            .coment-text {
                                color: $azul-escuro;
                                font-family: $exo2;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                                margin-bottom: 6px;
                            }
                            .data-coment {
                                font-family: $lato;
                                color: $cinza-claro;
                                font-size: 9px;
                                line-height: 11px;
                            }
                        }
                        .area-coment-edit {
                            border: 1px solid $cinza-claro2;
                            background-color: $cinza-modal;
                            width: 100%;
                            color: $cinza-claro;
                            height: 150px;
                            &:focus {
                                outline: none;
                            }
                        }
                        .area-anexo {
                            padding-bottom: 23px;
                            border-bottom: 1px solid $cinza-claro2;
                            .anexo-titulo {
                                color: $azul-claro;
                                font-family: $exo2;
                                font-weight: 600;
                            }
                            .lista-anexos {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                height: 30px;
                                .anexo-item {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                   
                                    border-radius: 5px;
                                    .anexo-item-icon,.anexo-item-text {
                                        padding-left: 8px;
                                    }
                                    .anexo-item-text{
                                        padding-right: 8px;
                                    }
                                    .anexo-item-remove {
                                        background-color: $cinza-claro2;
                                        border-radius: 0 5px 5px 0px;
                                        height: 30px;
                                        display: none;
                                    }
                                }
                                .edt {
                                    background-color: $cinza-modal;
                                    &:not(:last-of-type) {
                                        margin-right: 15px;
                                    }
                                    .anexo-item-remove {
                                        display: flex !important;
                                        align-items: center;
                                        display: none;
                                    }
                                }
                                .anexo-item-foto {
                                    .anexo-item-icon {
                                       
                                    }
                                }
                            }
                        }
                        .area-opcoes {
                            .lista-opcoes {
                                display: flex;
                                justify-content: flex-end;
                                padding-top: 16px;
                                .lista-item {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    max-width: 55px;
                                    width: 100%;
                                    &:not(:last-of-type) {
                                        margin: 0 5px;
                                    }
                                    .lista-item-text {
                                        font-family: $lato;
                                        font-size: 9px;
                                        color: $cinza-claro;
                                        text-align: center;
                                    }
                                    &:hover {
                                        color: $azul-claro;
                                        .lista-item-text {
                                            color: $azul-claro;
                                        }
                                    }
                                }
                            }
                        }
                        .modal-excluir {
                            position: absolute;
                            display: none;
                            top: 0;
                            background-color: #fff;
                            width: calc(100% - 32px);
                            height: 100%;
                            .modal-excluir-conteudo {
                                .conteudo-excluir-topo {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    .pe-7s-close-circle {
                                        font-size: 44px;
                                        color: $cinza-claro;
                                        margin-bottom: 11px;
                                    }
                                    .excluir-topo-titulo {
                                        font-family: $exo2;
                                        font-size: 16px;
                                        color: $azul-claro;
                                        font-weight: 700;
                                        margin-bottom: 23px;
                                    }
                                }
                                .conteudo-excluir-centro {
                                    margin-bottom: 31px;
                                    .excluir-centro-text {
                                        font-family: $exo2;
                                        font-size: 16px;
                                        color: $cinza-claro;
                                        text-align: center;
                                    }
                                }
                                .conteudo-excluir-opcoes {
                                    display: flex;
                                    justify-content: center;
                                    .modal-btn {
                                        &:not(:last-of-type) {
                                            margin-right: 14px;
                                        }
                                    }
                                }
                            }
                        }
                        .ativo {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            .modal-footer {
                justify-content: center;
            }
        }
    }
}