.bs-tooltip-right {
    .arrow {
        color: $branco;
    }
    .tooltip-inner {
        color: $branco;
    }
}

.tooltip {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin-left: 10px !important;
    max-width: 100px;
    width: 100%;
    & > .arrow {
        display: none !important;
        &::before {
            display: none !important;
        }
    }
    & > .tooltip-inner {
        width: 100%;
        background-color: $branco;
        border: 10px solid $cinza;
        border-image-source: url(../images/tooltip-box@2x.png);
        border-image-slice: 18 22;
        border-image-repeat: stretch;
        color: $cinza;
        white-space:pre-wrap;
        .tooltip-anos, .tooltip-valor {
            margin-bottom: 0;
            font-family: $lato;
            font-size: 9px;
            line-height: 11px;
            text-align: left;
        }
        .tooltip-anos {
            color: $azul-escuro;
        }
        .tooltip-valor {
            color: $cinza;
        }
    }
}
