.topo-aluno-titulo {
    font-size: 25px;
    font-weight: 600;
    color: $azul-claro;
}
.topo-aluno-subtitulo {
    font-size: 22px;
    line-height: 22px;
    color: $azul-escuro3;
}
.topo-aluno-text {
    font-size: 16px;
    line-height: 20px;
    color: $cinza-claro;
}

.bloco-perfil-aluno {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    .img-perfil {
        max-width: 50px;
        width: 100%;
        height: 50px;
        margin-right: 18px;
    }
    .info-perfil {
        .info-perfil-nome {
            font-family: $exo2;
            color: $azul-escuro;
            font-weight: 700;
            font-size: 22px;
        }
        .info-perfil-sala {
            font-family: $exo2;
            color: $cinza-claro;
            font-size: 16px;

        }
    }
}

.item-topo-aluno {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 40px;
    .topo-aluno-titulo, .topo-aluno-subtitulo {
        margin-bottom: 5px;
    }
}

.item-conteudo-item  {
    .conteudo-aluno-item {
        display: flex;
        width: 100%;
        align-items: center;
        .requisito {
            max-width: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
    
            .requisito-id {
                color: $azul-claro;
                font-size: 18px;
                margin-bottom: 15px;
            }
    
            .requisito-coment {
                a {
                    &:hover {
                        text-decoration: unset;
                    }
                    .icone-comentario {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        min-width: 50px;
                        height: 50px;
                        svg {
                            width: 50%;
                            height: 50%;
                        }
                    }
                    .comentado::after {
                        position: relative;
                        content: 'Comentarios';
                        font-family: $lato;
                        font-size: 9px;
                        color: $cinza-claro3
                    }
                }
            }
        }
        .descricao-req {
            max-width: 315px;
            width: 100%;
            .desc-req {
                font-size: 16px;
                line-height: 20px;
                color: $cinza-claro;
                width: 90%;
                margin-left: 10%;
            }
        }
        .nota-req {
            max-width: 332px;
            width: 100%;
            height: 37px;
            padding: 0 15px;
            .req-range {
                -webkit-appearance: none;  /* Override default CSS styles */
                appearance: none;
                width: 100%; /* Full-width */
                height: 20px; /* Specified height */
                border-radius: 14px;
                outline: none; /* Remove outline */
                opacity: 1; /* Set transparency (for mouse-over effects on hover) */
                -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                transition: opacity .2s;
                // background gradient
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f4f3+6,b0fefb+28,45f3ec+53,4be2dc+78,23c0ba+100 */
                background: #d0f4f3; /* Old browsers */
                background: -moz-linear-gradient(left, #d0f4f3 6%, #b0fefb 28%, #45f3ec 53%, #4be2dc 78%, #23c0ba 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #d0f4f3 6%,#b0fefb 28%,#45f3ec 53%,#4be2dc 78%,#23c0ba 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #d0f4f3 6%,#b0fefb 28%,#45f3ec 53%,#4be2dc 78%,#23c0ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f4f3', endColorstr='#23c0ba',GradientType=1 ); /* IE6-9 */
            }
            // BOTAO CIRCULAR
            .req-range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 21px;
                height: 21px;
                border-radius: 50%; 
                background: $branco;
                cursor: pointer;
                box-shadow: 0 3px 6px;
            }
            .req-range::-moz-range-thumb {
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background: $branco;
                cursor: pointer;
                box-shadow: 0 3px 6px;
            }
            // FIM BOTAO CIRCULAR
            .desc-nota-req {
                display: flex;
                justify-content: space-between;
                padding: 0 15px;
                .desc-nota-item {
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                }
                .nota1 {
                    background-color: #D0F4F3;
                }
                .nota2 {
                    background-color: #B0FEFB;
                }
                .nota3 {
                    background-color: #45F3EC;
                }
                .nota4 {
                    background-color: #4BE2DC;
                }
                .nota5 {
                    background-color: #23C0BA;
                }
            }
        }
    }
}