.modal-btn {
    display: flex;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    border-radius: 6px;
}
.btn-azul { 
    border: 2px solid $azul-claro;
    background-color: $azul-claro;
    .btn-azul-text {
        padding: 13px 0;
        font-family: $exo2;
        color: $branco;
        font-weight: 700;
    }
}
.btn-borda-cinza {
    border: 2px solid $azul-claro;
    background-color: $transparente;
    .btn-borda-cinza-text {
        padding: 13px 0;
        font-family: "Exo 2", sans-serif !important;
        color: $azul-claro;
        font-weight: 700;
    }
}
.btn-border-md {
    max-width: 141px;
    height: 37px;
    border: 2px solid $azul-claro;
    border-radius: 6px;
    padding: 0 10px;
    &:hover {
        background-color: $azul-claro;
        a {
            text-decoration: none;
            .btn-border-text {
                color: $branco;
            }
        }
    }
    a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .btn-border-text {
            font-family: $exo2;
            font-weight: 700;
            margin-bottom: 0;
            font-size: 16px;
            color: $azul-claro;
        }
    }
}

.btn-relatorio {
    width: 140px;
    height: 37px;
    border: 2px solid $azul-claro;
    border-radius: 5px;
    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $azul-claro;
        .icon-btn {
            width: 30%;
            display: flex;
            justify-content: center;
            font-size: 25px;
        }
        .bnt-text{
            width: 70%;
            margin: 0;
            font-size: 16px;
            font-weight: 700;
        }
        &:hover {
            text-decoration: none;
        }
    }
    &:hover {
        background-color: $azul-claro;
        a {
            color: $branco;
        }
    }
}

.btn-modal {
    background-color: $transparente;
    padding: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    .btn-conteudo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .conteudo-icon {
           margin-right: 15px;
        }
        .conteudo-text {
            font-size: 16px;
            font-family: $exo2;
            font-weight: 700;
        }
    }
    &:focus {
        outline: none;
    }
}

.btn-anexo {
    max-width: 220px;
    width: 100%;
    border: 2px solid $azul-claro !important;
    color: $azul-claro;
    .btn-conteudo {
        .conteudo-icon {
            span {
                transform: rotate(45deg);
            }
        }
    }
}

.btn-comentario {
    max-width: 375px;
    width: 100%;
    border: 2px solid $azul-claro !important;
    background-color: $azul-claro;
    color: $branco;
}

.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn {
    background: transparent;
    border: 1px solid $azul-claro;
    border-radius: 6px;
    color: $azul-claro;
    font-size: 16px;
    font-family: $exo2;
    font-weight: 700;
    outline: none !important;
    padding: 10px 20px;
}

.anexado {
    border: 1px solid $cinza-claro;
    font-size: 16px;
    font-family: $exo2;
    font-weight: 700;
    color: $cinza-claro;
    border-radius: 6px;
}

.fileUpload {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    width: 100%;    
    position: relative;
    overflow: hidden;
    height: 43px;
    margin-top: 0;
    .pe-7s-paperclip {
        margin-right: 15px;
        transform: rotate(45deg);
    }
}

.fileUpload input.uploadlogo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 42px;
}

/*Chrome fix*/
input::-webkit-file-upload-button {
  cursor: pointer !important;
  height: 42px;
  width: 100%;
}