.diario-geral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 57px 100px;
    // margin-right: 18px;
    @media(max-width: $mobile-lg) {
        margin: 0 20px;
    }
    .area-turma {
        width: 25%;
        @media(max-width: $mobile-lg) {
            width: 100%;
            margin: 30px auto;
        }
        .titulo-turma {
            font-size: 25px;
            color: $azul-claro;
            font-weight: 600;
            margin-bottom: 22px;
        }
        .texto-turma {
            font-size: 16px;
            line-height: 20px;
            color: $cinza-claro;
            font-weight: 500;
        }
        .bloco-turmas {
            position: relative;
            max-width: 232px;
            margin-top: 40px;
            @media(max-width: $mobile-lg) {
                max-width: 100%;
                margin: 30px auto;
            }
            .item-ativo {
                // display: flex;
                // align-items: center;
                // background-color: $azul-claro;
                // border: 2px solid $azul-claro;
                // border-top: unset !important;
                // border-bottom: unset !important;
                // border-radius: 5px;
                // height: 51px;
                // cursor: default !important;
                & ~ .turmas-item {
                    border-top: 2px solid $transparente !important;
                    transition: border .5s;
                    border-bottom: 2px solid $cinza-claro;      
                }
                .turmas-item-ativo-text {
                    color: $branco !important;
                    z-index: 10;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-left: 13px;
                }
            }
           
                .turmas-item {
                height: 51px;
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: border .5s;
                &:not(:first-child) {
                    border-top: 2px solid $cinza-claro;   
                    transition: border .5s;
                }
                &:first-child {
                    border: none;
                }
                .turmas-item-text {
                    margin-left: 15px;
                    color: $cinza-claro;
                }
            }
            
        }
        .bloco-ativo {
            height: 50px;
            background-color: #0499bf;
            border: 2px solid #0499bf;
            transition: top .5s;
            border-radius: 5px;
            position: absolute;
            width: 232px;
        }
    }
    .area-sala {
        width: 70%;
        @media(max-width: $mobile-lg) {
            width: 100%;
        }
        .sala-item {
            display: none;
            .item-topo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 48px;
                .topo-titulo {
                    font-size: 25px;
                    color: $cinza-azulado;
                }
            }
            .item-conteudo {
                .item-aluno {
                    display: flex;
                    flex-direction: row;    
                    align-items: center;            
                    border-bottom: 1px solid $cinza-claro2;
                    padding-bottom: 14px;
                    margin-bottom: 23px;
                    .item-aluno-icon {
                        width: 71px;
                        height: 71px;
                        border-radius: 60px;
                        margin-right: 38px;
                        svg {
                            circle {
                                fill: #e1e1e1;
                            }
                            g {
                                fill: #969eaa;
                            }
                        }
                    }
                    .item-aluno-text {
                        .item-aluno-nome {
                            color: $azul-escuro;
                            font-weight: 400;
                            font-size: 22px;
                            margin-bottom: 8px;
                        }
                        .item-aluno-registro {
                            color: $azul-claro;
                            font-size: 9px;
                            font-weight: 700;
                            &:hover {
                                color: $verde-agua;
                                text-decoration: unset;
                            }
                            .item-aluno-registro-text {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .sala-ativa {
            display: unset !important;
        }
    }
}