
// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Black.otf);
//     font-weight: 900;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-BlackItalic.otf);
//     font-weight: 900;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Bold.otf);
//     font-weight: 700;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-BoldItalic.otf);
//     font-weight: 700;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-ExtraBold.otf);
//     font-weight: 800;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-ExtraBoldItalic.otf);
//     font-weight: 800;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-ExtraLight.otf);
//     font-weight: 200;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-ExtraLightItalic.otf);
//     font-weight: 200;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Italic.otf);
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Light.otf);
//     font-weight: 300;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-LightItalic.otf);
//     font-weight: 300;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Medium.otf);
//     font-weight: 500;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-MediumItalic.otf);
//     font-weight: 500;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Regular.otf);
//     font-weight: 400;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-SemiBold.otf);
//     font-weight: 600;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-SemiBoldItalic.otf);
//     font-weight: 600;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-Thin.otf);
//     font-weight: 100;
// }

// @font-face {
//     font-family: 'Exo 2';
//     src: url(../fonts/Exo2/Exo2-ThinItalic.otf);
//     font-weight: 100;
//     font-style: italic;
// }

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$exo2 : 'Exo 2', sans-serif !important;

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-weight: 400;
}

$lato : 'Lato', sans-serif;