.grafico-barra-horizontal {
    height: 50px;
    .markers {
        rect {
            height: 50px;
            &:first-child {
                x: 0%;
            }
            &:last-of-type {
                x: calc(100% - 1px);
            }
        }
    }
    .bars {
        rect {
            y: calc(50% - 12.5px);
        }
        .bh1 {
            animation: carrega 1s ease-out forwards;
        }
        .bh2 {
            animation: carrega 2s ease-out forwards;
        }
        .bh3 {
            animation: carrega 3s ease-out forwards;
        }
    }
}

@keyframes carrega {
    0% {
        width: 0%;
    }
  }