.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around;
  }
    
  .circle-bg {
    fill: none;
    stroke: $cinza-claro2;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    transform-origin: center center;
    transform: rotate(90deg);
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  
  .circular-chart {
    display: block;
    max-width: 125px;
    max-height: 125px;
    &.orange .circle {
      stroke: #ff9f00;
    }
    &.green .circle {
      stroke: #4CC790;
    }
    &.blue .circle {
      stroke: $azul-claro;
    }
  }
  
  .percentage {
    fill: $azul-escuro2;
    font-family: $exo2;
    font-size: 0.5em;
    text-anchor: middle;
  }