$background: #e74c3c;
$select-color: #fff;


.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $azul-escuro3;
    max-width: $select-width;
    width: 100%;
    height: $select-height;
    text-transform: uppercase;
  }
  .select-styled {
    // position: absolute; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    color: $azul-escuro3;
    font-weight: 700;
    border: 2px solid $cinza-claro;
    border-radius: 3px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $branco;
    padding: 8px 15px;
    @include transition(all 0.2s ease-in);
    // &:after {
    //     content: "";
    //     width: 22px;
    //     height: 22px;
    //     background-repeat: no-repeat;
    //     background-image: url('../images/arrow-top-icon.svg');
    //     background-position: center;
    //     transition: .3s;
    // }
    &:hover {
    //   background-color: darken($azul-claro, 2);
      border: 2px solid $azul-claro;
      color: $azul-claro;
    }
    &:active, &.active {
        position: relative;
        height: 51px;
        border-radius: 3px 3px 0 0;
        span.ti-angle-up {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
    }
  }

  // CUSTOMIZACAO PAGINA ALUNO
  #aluno-tema ~ .select-options {
    li {
      border-top: none;
      border-bottom: 1px solid darken($cinza-claro2, 10);
      &:last-child {
        border-bottom: none;
      }
    }
  }

  #aluno-tema ~ .select-styled {
    .texto-select-aluno {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
  
  .select-options {
    display: none; 
    max-height: 250px;
    overflow: overlay;
    // style de scroll
    /* Handle on hover */

    &::-webkit-scrollbar {
      background-color: $cinza-claro2;
      width: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $branco;
      border-radius: 10px;
      border: 1px solid $cinza-claro2;
    }
    // fim style scroll
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2px solid $cinza-claro;
    border-top: none;
    // background-color: darken($azul-claro, 5);
    li {
      margin: 0;
      padding: 12px 12px;
      font-size: 16px;
      text-transform: capitalize;
      border-top: 1px solid darken($cinza-claro2, 10);
      @include transition(all 0.15s ease-in);
      &:nth-child(2) {
          border: none;
      }
      &:hover {
        color: $azul-claro;
        background: $select-color;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }