.topo {
    background-color: $azul-claro;
    height: 176px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .topo-conteudo {
        max-width: 500px;
        margin-left: 100px;
        @media(max-width: $mobile-lg) {
            margin-left: 0;
            text-align: center;
        }
        .topo-retorno {
            position: absolute;
            top: 20px;
            height: 20px;
            a {
                text-decoration: unset;
                display: flex;
                align-items: center;
                &:hover {
                    svg, span {
                        transform: translateX(-5px);
                        transition: all .3s;
                    }
                }
                svg {
                    width: 12px;
                    height: 20px;
                    padding-top: 3px;
                    margin-right: 7px;
                    transition: all .3s;
                    .cls-1 {
                        fill: $branco;
                    }
                }
                span {
                    color: $branco;
                    transition: all .3s;                    
                }
                .retorno-text {
                    color:  $branco;
                    font-size: 9px;
                    margin-bottom: 0;
                    margin-left: 7px;
                }
            }
        }
        .topo-titulo {
           color: $branco;
           font-size: 42px;
           font-weight: 600;
        }
    }
}