// ==== CORES ====

// AZUL
$azul-claro: #0499BF;
$azul-escuro: #06284E;
$azul-escuro2: #07284E;
$azul-escuro3: #063157;

// BRANCO
$branco: #fff;

// CINZA
$cinza: #959DA9;
$cinza-claro: #969EAA;
$cinza-claro2: #E1E1E1;
$cinza-claro3: #C1C5C9;
$cinza-modal: #F7F7F7;
$cinza-sombra: rgba(0,0,0,0.1);
$cinza-azulado: #405A76;

// VERDE
$verde-agua: #4BE2DC;
$verde-claro: #ABE6E4;
$verde: #21BEB8;

//TRANSPARENTE
$transparente: rgba(0,0,0,0);


// ==== FIM DAS CORES ====

// ==== TAMANHOS ====
$desktop-lg: 1501px;
$desktop: 1500px;
$notebook-sm: 1100px;
$tablet: 800px;
$mobile-lg: 500px;
$mobile-sm: 350px;
// ==== FIM DOS TAMANHOS ====

// VARIAVEIS DE TAMANHO DE ITENS
$select-width: 232px;
$select-height: 51px; 
