@import 'variables';
@import 'fonts';
@import 'buttons';
@import 'top-page';
@import 'fonts/helper';
@import 'fonts/pe-icon-7-stroke';
@import 'fonts/themify-icons';
@import './node_modules/bootstrap/scss/bootstrap';

@import 'diario-geral';
@import 'relatorio-geral.scss';
@import 'graf-circular';
@import 'graf-barra-horizontal';
@import 'select-custom';
@import 'tooltips-bootstrap/tooltip-right';
@import 'aluno';
@import 'modals/modal-comentario'; 
@import 'reset';

body {
    font-family: $exo2;
}

.titulo-geral {
    font-size: 42px;
}

.lista-btns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .btn-border-md {
        margin-right: 10px;
    }
}