// ESTILO PARA TEMAS
.item-conteudo-topo {
    display: flex;
    border-bottom: 1px solid $cinza-claro2;
    padding-bottom: 26px;
    .bloco-topo-titulo {
        width: 105px;
    }
    .bloco-topo-descricao {
        
    }
}
.item-conteudo-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid $cinza-claro2;
    .item-grafico-circular {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;    
        .bloco-desc-grafico {
            max-width: 125px;
            text-align: center;
            .desc-text {
                font-size: 16px;
                font-weight: 700;
                color: $azul-escuro3;
            }
        }
    }
    .item-grafico-barra {
        width: 70%;
        .barra-item {
            .barra-item-topo {
                display: flex;
                justify-content: flex-end;
                .item-topo-conteudo {
                    display: flex;
                    width: 100%;
                    .porcent-info {
                        width: 25%;
                        text-align: center;
                        font-family: $lato;
                        margin-bottom: 6px;
                        &:nth-child(1) {
                            margin-left: 10px;
                        }
                    }
                }
            }
            .barra-item-conteudo {
                display: flex;
                width: 90%;
                .barra-item-desc {
                    width: 50px;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .barra-item-grafico {
                    width: calc(100% - 50px);
                }
            }
        }
    }
    .info-bh {
        font-family: $lato;
        font-size: 10px;
        color: $cinza;
    }
    .item-tema-topo {
        width: 100%;
        height: 50px;
        .tema-topo-conteudo {
            display: flex;
            align-items: center;
            max-width: 200px;
            .bloco-tema-titulo {
                margin-right: 15px;
                .tema-titulo {
                    color: $azul-claro;
                }
            }
            .bloco-tema-comentario {
                a {
                    transition: .3s;
                    &:hover {
                        text-decoration: none;
                        svg {
                            #Group_72 .cls-1, #Group_73 .cls-2 {
                                fill: $azul-claro;
                                transition: .3s;
                            }    
                        }
                        .icone-comentario {
                            &::after {
                                color: $azul-claro;
                                transition: .3s;
                            }
                            .comentario-conteudo {
                                span {
                                    color: $azul-claro;
                                    transition: .3s;
                                }
                            }
                        }
                        .comentado {
                            .comentario-cont {
                                background-color: $azul-claro;
                            }
                        }
                    }
                    .icone-comentario {
                        // width: 45px;
                        // height: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 75px;
                        height: 45px;
                        .comentario-conteudo {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 20px;
                            span {
                                color: $cinza-claro3;
                            }
                            svg {
                                width: 50%;
                                height: 50%;
                            }
                        }
                       
                        &::after {
                            content: "Comentario";
                            font-size: 9px;
                            position: relative;
                            color: $cinza-claro3;
                        }
                    }
                    .comentado {
                        .comentario-cont {
                            width: 13px;
                            height: 13px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            background-color: red;
                            border-radius: 100%;
                        }
                        &::after {
                            content: "Comentarios";
                        }
                    }
                }
            }
        }
    }
    .item-tema-conteudo {
        display: flex;
        align-items: center;
        .bloco-tema-desc {
            max-width: 435px;
            .desc-item {
                margin-bottom: 45px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .bloco-tema-grafico {
            .grafico-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                .grafico-titulo {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 22px;
                    color: $azul-escuro;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.topo-titulo {
    font-size: 25px;
    color: #0499BF;
    font-weight: 600;
}
.desc-titulo {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $azul-escuro;
}
.desc-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $cinza-claro;
}
.desc-item-titulo {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $azul-escuro;
}
.desc-item-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: $cinza-claro;
}